In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Date.1,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Keetmanshoop,NaN,2021-03-15 08:11:26,2021-03-15 08:11:26,-26.5833,18.1333,66.20,48,0,2.30
1,1,Flinders,AU,2021-03-15 08:11:26,2021-03-15 08:11:26,-34.5833,150.8552,64.00,64,0,6.08
2,2,Georgetown,MY,2021-03-15 08:06:49,2021-03-15 08:06:49,5.4112,100.3354,91.40,58,20,9.22
3,3,Hermanus,ZA,2021-03-15 08:07:35,2021-03-15 08:07:35,-34.4187,19.2345,64.00,95,100,1.99
4,4,Ust-Maya,RU,2021-03-15 08:11:26,2021-03-15 08:11:26,60.4167,134.5333,15.87,86,100,13.35

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Date.1,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Georgetown,MY,2021-03-15 08:06:49,2021-03-15 08:06:49,5.4112,100.3354,91.40,58,20,9.22
7,7,Busselton,AU,2021-03-15 08:07:07,2021-03-15 08:07:07,-33.6500,115.3333,82.00,31,100,4.00
9,9,Rikitea,PF,2021-03-15 08:11:26,2021-03-15 08:11:26,-23.1203,-134.9692,80.31,76,47,6.67
24,24,Sur,OM,2021-03-15 08:11:29,2021-03-15 08:11:29,22.5667,59.5289,83.17,51,0,7.63
29,29,Japura,ID,2021-03-15 08:11:30,2021-03-15 08:11:30,-0.3167,102.3500,87.60,69,75,4.03
36,36,Bongor,TD,2021-03-15 08:11:32,2021-03-15 08:11:32,10.2806,15.3722,93.94,24,92,12.17
40,40,Charters Towers,AU,2021-03-15 08:11:33,2021-03-15 08:11:33,-20.1000,146.2667,84.45,54,39,12.80
55,55,Luba,GQ,2021-03-15 08:11:35,2021-03-15 08:11:35,3.4568,8.5547,81.41,74,100,3.36
59,59,Saint-Philippe,RE,2021-03-15 08:11:36,2021-03-15 08:11:36,-21.3585,55.7679,82.40,74,0,25.32
70,70,Atuona,PF,2021-03-15 08:11:37,2021-03-15 08:11:37,-9.8000,-139.0333,80.15,71,3,10.09

In [15]:
preferred_cities_df.count()

City_ID       101
City          101
Country       101
Date          101
Date.1        101
Lat           101
Lng           101
Max Temp      101
Humidity      101
Cloudiness    101
Wind Speed    101
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2        Georgetown      MY     91.40   5.4112  100.3354
7         Busselton      AU     82.00 -33.6500  115.3333
9           Rikitea      PF     80.31 -23.1203 -134.9692
24              Sur      OM     83.17  22.5667   59.5289
29           Japura      ID     87.60  -0.3167  102.3500
36           Bongor      TD     93.94  10.2806   15.3722
40  Charters Towers      AU     84.45 -20.1000  146.2667
55             Luba      GQ     81.41   3.4568    8.5547
59   Saint-Philippe      RE     82.40 -21.3585   55.7679
70           Atuona      PF     80.15  -9.8000 -139.0333

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))